@font-face {
    font-family: P4;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: P5;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: P6;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
}

input {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

:root {
    --primary-color: #282938;
    --secondary-color: #1C1E53;
    --third-color: #FCD980;
    --poppins-regular: P4;
    --poppins-medium: P5;
    --poppins-semibold: P6;
}


.container {
    max-width: 1340px;
    width: 100%;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px) {
    .container {
        padding: 0 24px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0 30px;
    }
}














/* HEADER SECTION */
.site_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    z-index: 100;
}

.header_scroll {
    box-shadow: rgba(17, 12, 46, 0.3) 0px 48px 100px 0px;
}

.header_nav {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav_logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav_items {
    display: none;
}

.header_nav_item {
    span {
        font-family: P5;
        font-size: 14px;
        line-height: 22px;
        color: #BBBBCB;
        transition: .15s ease-in;

        &:hover {
            color: #fff;
        }
    }
}

.header_nav_btn {
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 0 28px;
        border: 2px solid #F4F6FC33;
        border-radius: 41px;
        background: transparent;
        font-family: P5;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        transition: .1s ease-out;

        &:hover {
            background-color: #f4f6fc16;
            border: 2px solid transparent;
        }
    }
}

.header_nav_menu_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}




@media (min-width: 640px) {
    .header_nav {
        height: 80px;
    }
}

@media (min-width: 768px) {
    .header_nav_items {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .header_nav_menu_wrapper {
        display: none;
    }
}

@media (min-width: 1024px) {
    .header_nav {
        height: 92px;
    }

    .header_nav_items {
        gap: 40px;
    }

    .header_nav_item {
        span {
            font-size: 16px;
            line-height: 28px;
        }
    }

    .header_nav_btn {
        button {
            height: 60px;
            padding: 0 48px;
            font-size: 16px;
            line-height: 28px;
            color: #fff;
        }
    }
}









/* HERO SECTION*/
.site_main {}

.section_hero {
    background-color: var(--secondary-color);
}

.hero_wrapper {
    min-height: 100dvh;
    padding-top: 130px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_title {
    font-family: P6;
    font-size: 30px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    margin-bottom: 12px;
}

.hero_desc {
    font-family: P5;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
    opacity: 70%;
}

.hero_btns {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hero_work_btn {
    height: 44px;
    padding: 0 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
    border-radius: 41px;
    border: 2px solid transparent;
    transition: .15s ease-out;

    &:hover {
        border: 2px solid var(--third-color);
        background-color: transparent;

        span {
            color: #fff;
        }
    }

    span {
        font-family: P6;
        font-size: 16px;
        line-height: 28px;
        color: var(--secondary-color);
    }
}

.hero_pricing_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    transition: .15s ease-out;

    &:hover {
        span {
            text-decoration: underline;
        }
    }

    span {
        font-family: P5;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
    }
}

.hero_image {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 540px) {
    .hero_wrapper {
        padding-top: 140px;
        padding-bottom: 75px;
    }

    .hero_title {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .hero_desc {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

}




@media (min-width: 640px) {
    .hero_title {
        font-size: 38px;
        line-height: 54px;
    }

    .hero_image {
        img {
            max-width: 580px;
        }
    }
}

@media (min-width: 868px) {
    .hero_wrapper {
        min-height: 600px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 0px;
    }

    .hero_content {
        width: 50%;
    }

    .hero_title {
        width: 100%;
        font-size: 44px;
        line-height: 62px;
        text-align: start;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 18px;
    }

    .hero_desc {
        font-size: 16px;
        line-height: 28px;
        width: 95%;
        text-align: start;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 36px;
    }

    .hero_btns {
        flex-direction: row;
        justify-content: start;
    }

    .hero_work_btn {
        height: 54px;
        padding: 0 42px;

        span {
            font-size: 18px;
            line-height: 32x;
        }
    }

    .hero_pricing_btn {
        gap: 16px;

        span {
            font-size: 16px;
            line-height: 28px;
        }
    }

    .hero_image {
        width: 50%;
        justify-content: end;

        img {
            width: 100%;
            max-width: fit-content;
        }
    }
}

@media (min-width: 1024px) {
    .hero_wrapper {
        min-height: 760px;
        padding-top: 92px;
        gap: 60px;
    }

    .hero_content {
        width: 47%;
    }

    .hero_title {
        font-size: 54px;
        line-height: 74px;
        width: 90%;
        margin-bottom: 24px;
    }

    .hero_desc {
        margin-bottom: 48px;
    }

    .hero_btns {
        gap: 40px;
    }

    .hero_work_btn {
        height: 64px;
        padding: 0 56px;
    }

    .hero_image {
        width: 53%;
    }
}









/* PROJECT SECTION */
.section_project {
    background-color: #fff;
}

.project_wrapper {
    padding-top: 57px;
    padding-bottom: 128px;
}

.project_top {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}

.project_title {
    font-family: P6;
    font-size: 22px;
    line-height: 32px;
    color: var(--primary-color);
    width: 60%;
}

.project_btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 6px;
    width: 40%;
    background-color: transparent;
    transition: .15s ease-out;

    &:hover {
        span {
            text-decoration: underline;
        }
    }

    img {
        width: 18px;
    }
}

.project_btn_text {
    font-family: P5;
    font-size: 10px;
    line-height: 18px;
    color: var(--primary-color);
}

.project_cards {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 12px;
}

.project_card {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: fit-content;
    }
}

.card_main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.project_card_main_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1C1E536B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.project_card_main_content_title {
    font-family: P6;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.project_card_main_content_desc {
    font-family: P4;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    opacity: .8;
    margin-bottom: 20px;
}

.project_card_main_content_btn {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    transition: .15s ease-out;

    &:hover {
        span {
            text-decoration: underline;
        }
    }
}

.project_card_main_content_btn_text {
    font-family: P5;
    font-size: 12px;
    line-height: 20px;
    color: var(--third-color);
}

.project_card_image_wrapper {
    position: relative;
}

.project_card_content {
    position: absolute;
    top: 0;
    left: -1%;
    width: 101%;
    height: 100%;
    background-color: #1C1E536B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.project_card_content_title {
    font-family: P6;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.project_card_content_btn {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    transition: .15s ease-out;

    &:hover {
        span {
            text-decoration: underline;
        }
    }
}

.project_card_content_btn_text {
    font-family: P5;
    font-size: 12px;
    line-height: 20px;
    color: var(--third-color);
}




@media (min-width: 640px) {
    .project_top {
        margin-bottom: 44px;
    }

    .project_title {
        font-size: 30px;
        line-height: 42px;
    }

    .project_btn {
        gap: 16px;

        img {
            width: 24px;
        }
    }

    .project_btn_text {
        font-size: 16px;
        line-height: 28px;
    }

    .project_cards {
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }

    .card_main {
        grid-area: 1 / 1 / 3 / 3;
    }

    .project_main_card_content {
        padding: 0 30px;
    }

    .project_card_content {
        padding: 0 30px;
    }

}

@media (min-width: 768px) {
    .project_top {
        margin-bottom: 54px;
    }

    .project_title {
        font-size: 40px;
        line-height: 54px;
    }

    .project_btn {
        gap: 16px;

        img {
            width: 24px;
        }
    }

    .project_btn_text {
        font-size: 16px;
        line-height: 28px;
    }

    .project_card_main_content {
        justify-content: end;
        padding-bottom: 76px;
    }

    .project_card_main_content_title {
        font-size: 22px;
        line-height: 30px;
        color: #fff;
        margin-bottom: 16px;
    }

    .project_card_main_content_desc {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 40px;
    }

    .project_card_main_content_btn_text {
        font-size: 16px;
        line-height: 28px;
    }

    .project_card_image_wrapper {
        position: relative;
    }


    .project_card_content_title {
        font-size: 22px;
        line-height: 30px;
    }

    .project_card_content_btn_text {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (min-width: 1024px) {
    .project_top {
        margin-bottom: 64px;
    }

    .project_title {
        font-size: 48px;
        line-height: 64px;
    }

    .project_cards {
        gap: 32px;
    }

    .project_card_main_content {
        width: 47%;
        padding: 0 48px;
        padding-bottom: 76px;
    }

    .project_card_main_content_title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    .project_card_content {
        justify-content: end;
        padding: 0 56px;
        padding-bottom: 45px;
    }

    .project_card_content_title {
        font-size: 24px;
        line-height: 36px;
    }

    .project_card_content_btn_text {
        font-size: 16px;
        line-height: 28px;
    }
}









/* DESIGN SECTION */
.section_design {
    background-color: #F4F6FC;
}

.design_wrapper {
    padding-top: 65px;
    padding-bottom: 65px;
}

.design_subtitle {
    font-family: P5;
    font-size: 14px;
    line-height: 22px;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 12px;
}

.design_title {
    font-family: P6;
    font-size: 30px;
    line-height: 44px;
    color: var(--primary-color);
    margin-bottom: 30px;
    text-align: center;
}

.design_cards {
    display: grid;
    grid-template-columns: repeat(1fr);
    row-gap: 12px;
    column-gap: 16px;
}

.design_card {
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    padding: 24px;
}

.design_card_image {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.design_card_title {
    font-family: P4;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
}

.design_card_desc {
    font-family: P4;
    font-size: 10px;
    line-height: 18px;
    color: var(--primary-color);
    opacity: .7;
}




@media (min-width: 480px) {
    .design_wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #F4F6FC;
    }

    .design_cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .design_title {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .design_subtitle {
        font-size: 16px;
        line-height: 28px;
    }

    .design_title {
        width: 70%;
        font-size: 38px;
        line-height: 50px;
        margin-bottom: 40px;
    }

    .design_cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .design_card {
        min-height: 316px;
        padding-left: 48px;
        padding-right: 30px;
    }

    .design_card_image {
        margin-bottom: 25px;
    }

    .design_card_body {}

    .design_card_title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .design_card_desc {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (min-width: 1024px) {
    .design_wrapper {
        padding-top: 128px;
        padding-bottom: 128px;
        background-color: #F4F6FC;
    }

    .design_title {
        width: 50%;
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 47px;
    }

    .design_cards {
        row-gap: 24px;
        column-gap: 32px;
    }

    .design_card_title {
        font-size: 24px;
        line-height: 36px;
    }

    .design_card_desc {
        font-size: 16px;
        line-height: 28px;
    }
}








/* DESIGN SECTION */
.section_client {
    background-color: rgb(243, 245, 252, .5);
}

.client_wrapper {
    padding-top: 65px;
    padding-bottom: 65px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
}

.client_title {
    font-family: P6;
    font-size: 22px;
    line-height: 34px;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.client_desc {
    font-family: P4;
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
    opacity: .7;
}

.client_right_desc {
    font-family: P5;
    font-size: 20px;
    line-height: 30px;
    color: var(--primary-color);
    margin-bottom: 28px;
}

.client_right_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client_right_avatar {
    display: flex;
    align-items: center;
    gap: 14px;

    img {
        border-radius: 50%;
    }
}

.client_right_avatar_text {
    font-family: P4;
    font-size: 16px;
    line-height: 28px;
    color: var(--primary-color);
}

.client_right_avatar_desc {
    font-family: P4;
    font-size: 12px;
    line-height: 28px;
    color: var(--primary-color);
}

.client_right_prev_next {
    display: flex;
    align-items: center;
    gap: 10px;
}

.client_right_prev {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: .15s ease-out;
    cursor: pointer;

    &:hover {
        background-color: #d9d9e7;
    }

    img {
        width: 8px;
    }
}

.client_right_next {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5239FA;
    transition: .15s ease-out;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary-color);
    }

    img {
        width: 8px;
    }
}




@media (min-width: 768px) {
    .client_wrapper {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .client_title {
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 12px;
    }

    .client_desc {
        font-size: 16px;
        line-height: 28px;
    }

    .client_right_desc {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 36px;
    }

    .client_right_avatar_text {
        font-size: 18px;
        line-height: 32px;
    }

    .client_right_avatar_desc {
        font-size: 12px;
        line-height: 28px;
    }

    .client_right_prev {
        width: 48px;
        height: 48px;

        img {
            width: 13px;
        }
    }

    .client_right_next {
        width: 48px;
        height: 48px;

        img {
            width: 13px;
        }
    }
}

@media (min-width: 1024px) {
    .client_wrapper {
        padding-top: 128px;
        padding-bottom: 128px;
        grid-template-columns: 4fr 8fr;
        row-gap: 0;
        gap: 110px;
    }
}









/* FOOTER */
.footer{
    background-color: var(--secondary-color);
    height: 489px;
    .container{
        height: 100%;
    }
    .footer__wrapper{
        padding-top: 96px;
        display: flex;
        gap: 142px;

        .footer__left-box{
            height: 301px;
            max-width: 517px;
            display: flex;
            flex-direction: column;
            .footer__logo{
                margin-bottom: 23px;
            }
            .footer__desc{
                max-width: 399px;
                line-height: 28px;
                font-family: P5;
                color: #F4F6FC;
                opacity: .8;
                flex: 1;
            }
            .footer__contact-box{
                width: 517px;
                height: 95px;
                background-color: #FCD980;
                display: flex;
                align-items: center;
                gap: 28px;
                padding-left: 37px;
                .footer__email, .footer__phone-number{
                    :first-child{
                        font-family: P5;
                        color: var(--primary-color);
                        font-size: 18px;
                        line-height: 32px;
                    }
                    :last-child{
                        font-family: P4;
                        color: var(--primary-color);
                        opacity: .8;
                    }
                }
            }
        }
        .footer__right-box{
            display: flex;
            flex-direction: column;
            gap: 14px;
            .footer__header{
                font-family: P6;
                font-size: 48px;
                line-height: 64px;
                color: #fff;
            }
            .footer__desc{
                color: #F4F6FC;
                font-family: P6;
                opacity: .7;
                max-width: 399px;
                margin-bottom: 14px;
            }
            .footer__links{
                display: flex;
                gap: 27px;
            }
        }
    }
}

/* FOOTER RESPONSIVE */
@media (max-width: 1100px) {
    .footer{
        .footer__wrapper{
            gap: 100px;
            justify-content: space-between;
            .footer__left-box{
                .footer__contact-box{
                    max-width: 420px;
                    padding-left: 24px;
                }
            }
        }
    }
}
@media (max-width: 870px) {
    .footer{
        height: 725px;
        .footer__wrapper{
            flex-direction: column;
        }
    }
}
@media (max-width: 520px) {
    .footer{
        height: 610px;
        .footer__wrapper{
            padding-top: 50px;
            gap: 80px;
            .footer__left-box{
                height: 250px;
                .footer__contact-box{
                    height: 82px;
                    .footer__email, .footer__phone-number{
                        :first-child{
                            font-size: 16px;
                            line-height: 28px;
                        }
                        :last-child{
                            opacity: .8;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 453px) {
    .footer{
        .footer__wrapper{
            .footer__left-box{
                .footer__contact-box{
                    width: 100%;
                    padding-left: 16px;
                }
            }
        }
    }
}